@{
    ViewBag.Title = "Home Page";
}
<style>
    .btn-lg {width: 250px; height: 150px; line-height: 125px;}
    .buyukpunto2 div a{font-size:30px;}
    
</style>
<div class="jumbotron">
  
    <div class="row text-center buyukpunto2">
        <div class="col-md-3"><a href="/EnvanterTakip/MalzemeHareket/" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-forward"></span> Atama</a></div>
        <div class="col-md-3"><a href="/EnvanterTakip/Malzeme/" class="btn btn-danger btn-lg"> <span class="glyphicon glyphicon-plus"></span> Malzeme </a></div>
        <div class="col-md-3"><a href="/EnvanterTakip/Malzeme/Malkabul" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-equalizer"></span> Mal Kabul</a></div>
        <div class="col-md-3"><a href="/EnvanterTakip/Personel/" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-user"></span> Personel Ekle</a></div>
    </div>
    

</div>

